<html lang="en">
<!--HEADER-->
<%- include('layouts/header'); -%>
<body class="m-0 p-0">
<!--NAVBAR-->
<%- include('layouts/navbar') -%>
<!--MAIN CONTENT-->
<header class="d-flex flex-column vh-100 bg-dark text-light text-center">
  <div class="flex-grow-1">
    <div class="container d-flex flex-column justify-content-center align-items-center h-75">
      <h1 class="display-6 fw-bolder"><i class="fa-solid fa-exclamation-triangle me-3"></i>Error - 404</h1>
      <p>Page Not Found</p>
    </div>
  </div>
</header>
<!--FOOTER-->
<%- include('layouts/footer') -%>
</body>
</html>