<html lang="en">
<!--HEADER-->
<%- include('layouts/header'); -%>
<body class="m-0 p-0">
<!--NAVBAR-->
<%- include('layouts/navbar') -%>
<!--MAIN CONTENT-->
<header class="d-flex flex-column vh-100 bg-dark text-light text-center">
  <div class="flex-grow-1">
    <div class="container d-flex flex-column justify-content-center align-items-center h-75">
      <h1 class="display-1 fw-bolder">Dashboard</h1>
      <h5>DriveTest Booking Kiosk</h5>
      <i class="fa-solid fa-angles-down"></i>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 24rem">
      <h4 class="fw-semibold">You can book G/G2 drive test from this Kiosk</h4>
      <p>You can book G/G2 drive test from this Kiosk</p>
      <small><em>Posted by <span class="fw-medium">DriveTest Center</span></em></small>
    </div>
  </div>
</section>
<!--FOOTER-->
<%- include('layouts/footer') -%>
</body>
</html>